* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App > * {
    width: 100%;
}

.post {
    width: 100%;
    display: flex;
    padding: 15px;
    border: 1px solid deepskyblue;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

input {
    margin: 10px 0;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 175ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-4000px);
    transition: all 500ms ease-in;
}
